@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
}

/* navbar */
.nav-link{
  margin-right: 30px;
  font-weight: 600;
  font-size: 18px;
}

.nav-color{
  background-color: #000000;
}

.nav-link{
  color: #ffffff !important;
}

.nav-link:hover{
  color: #0652DD !important;
}

.nama-nav{
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 5px;
}

.last-dot{
  color: #0652DD;
  font-size: 30px;
}

.gambar-hero{
  margin-top: 50px;
}

.nama-hero{
  color: #0652DD;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 100px;
}

.paragraf-hero{
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 170%;
  margin-top: 15px;
  margin-bottom: 20px;
}

.deskripsi{
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  margin-top: 15px;
}

.img-decor{
  position: absolute;
  z-index: -1;
  margin-top: 40px;
  margin-left: -60px;
}

.tombol{
  border-radius: 4px;
  padding: 10px 18px 10px 18px;
  border: none;
  background-color: #0652DD;
  margin-right: 35px;
}

.social-icon{
  margin-right: 20px;
}

@media (max-width: 576px) { 

  .mobile-container{
    width: 100%;
    margin-top: 20px;    
    display: block;

  }

  .social-icon{
    margin-right: 10px;
  }

  .spacer{
    height: 50px;
    width: 50px;
    margin-top: 20px;    
    display: block;

  }

  .img-decor{
    height: 0px;
    width: 0px;
  display: block;

  }


  .nama-hero{

    margin-top: 10px;
  }



}